<div> 
	<a><button (click) = "facebookLogin()" routerLink = "/dashboard" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</button></a>
		<a href="/users/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
		<a href="/users/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
		<a href="/users/auth/github" class="btn btn-danger"><span class="fa fa-github"></span> GitHub</a>
		<a href="/users/auth/linkedin" class="btn btn-primary"><span class="fa fa-linkedin"></span> LinkedIn</a>
</div>
	<!-- CSS -->
	<link rel="stylesheet" href="/app.component.css" />
	<!-- JS -->

<div class = "footer">
	 
	<a href="www.vatsalshah.in"><p>&copy; 2019 Emmanuel Maduwuba </p></a>
	

</div>

 

